<h1>@codehint-ng/tree-table</h1>

<cng-tree-table
  [columns]="[
    {title: 'Column1', template: tmplColumn1},
    {title: 'Column2', template: tmplColumn2},
    {title: 'Column3', template: tmplColumn3}
  ]"
  [treeTableItems]="treeTableItems"
  [sortFunction]="sortFunction"
>
</cng-tree-table>

<ng-template #tmplColumn1 let-treeTableItem>
  <ng-container *ngIf="treeTableItem.data as customObject">
    {{ customObject.data1 }}
  </ng-container>
</ng-template>

<ng-template #tmplColumn2 let-treeTableItem>
  <ng-container *ngIf="treeTableItem.data as customObject">
    {{ customObject.data2 }}
  </ng-container>
</ng-template>

<ng-template #tmplColumn3 let-treeTableItem>
  <ng-container *ngIf="treeTableItem.data as customObject">
    {{ customObject.data3 }}
  </ng-container>
</ng-template>
