<h1>@codehint-ng/tree-table</h1>

<button (click)="addData()">Add Data</button>
<button (click)="addData2()">Add Data2</button>
<button (click)="clearData()">Clear Data</button>
<button (click)="removeItem()">Remove Item</button>

<button (click)="sort()">Sort {{sortDirection}}</button>

<cng-tree-table
  [columns]="[
    {title: 'Column1', template: tmplColumn1},
    {title: 'Column2', template: tmplColumn2},
    {title: 'Column3', template: tmplColumn3}
  ]"
  [sortFunction]="sortFunction"
  (rowClick)="rowClick($event)"
>
</cng-tree-table>

<ng-template #tmplColumn1 let-treeTableItem>
  <ng-container *ngIf="treeTableItem.data as customObject">
    {{ customObject.data1 }}
  </ng-container>
</ng-template>

<ng-template #tmplColumn2 let-treeTableItem>
  <ng-container *ngIf="treeTableItem.data as customObject">
    {{ customObject.data2 }}
  </ng-container>
</ng-template>

<ng-template #tmplColumn3 let-treeTableItem>
  <ng-container *ngIf="treeTableItem.data as customObject">
    {{ customObject.data3 }}
  </ng-container>
</ng-template>
